controller/*.pyc
controller/*.autosave
data/*.pyc
data/*.autosave
database/*.pyc
database/*.autosave
model/*.pyc
model/*.autosave
view/*.pyc
view/*.autosave
*/__pycache__*
*.pyc
*.autosave
.idea/*
sh.exe.stackdump
directory_summary_line_edit/
test/
32k/
Main_App.py
Scans/
test_yaml/
DB_Test_Settings/
_*/
build/
*test*/
SimulationDatabase.db